<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hasil Konversi</title>
</head>
<body>
    <h1>Hasil Konversi</h1>
    <p>Input Plainteks: {{ input_string }}</p>
    <p>Input Key: {{ key }}</p>
    <p>ASCII String: {{ ascii_values_string }}</p>
    <p>ASCII Key: {{ ascii_values_key }}</p>
    <p>Biner String: {{ hasil_string }}</p>
    <p>Biner Key: {{ hasil_key }}</p>
    <p>XOR Result: {{ hasil_xor }}</p>
    <p>Desimal Result: {{ hasil_desimal }}</p>
    <p>Karakter Result: {{ hasil_karakter }}</p>
    <br>
    <a href="/">Kembali</a>
</body>
</html>