<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web XOR Converter</title>
</head>
<body>
    <h1>Web XOR Converter</h1>
    <form action="/hasil" method="post">
        <label for="input_string">Masukkan Plainteks:</label>
        <input type="text" name="input_string" required>
        <br>
        <label for="key">Masukkan Key:</label>
        <input type="text" name="key" required>
        <br>
        <button type="submit">Konversi</button>
    </form>
</body>
</html>